.square {
    width: 230px;
    height: 230px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.social-icon {
    width: 10%; 
    height:10%; 
    position:absolute; 
    right: 10px; 
    bottom: 10px;
}