.background-layer1 {
    /* The image used */
    background-image: url("/assets/images/graphics/CityBackground.png");

    /* Full height */
    min-height: 100%;
    position: relative;
    text-align: center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

@media (hover: none) {
    .background-layer1 {
        background-image: none;
        background-color: #0f0f0f;
    }
 }
 



 .e-with-fixed-bg {
    width: 100%;
min-height: 100%;
    
    /* Important */
    position: relative;
  }
  
  .bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
  
  .bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url("/assets/images/graphics/CityBackground.png");
    transform: translateZ(0);
    will-change: transform;
  }
  

.navbar.navbar-color {
        background-color: black !important;
        transition: background-color 400ms linear;
}
.test-background {
    height: min-content(100vh);
    background-color: aquamarine;
    text-align: center;
    position: relative;
}
.background-layer2 {
    /* The image used */
    background-image: url("/assets/images/graphics/CityDesign.png");
    /* Full height */
    min-height: 100%;
    position: relative;
    text-align: center;

    /* Center and scale the image nicely */
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size:cover;
}